body{
    font-family: Tajawal;
}

header{
    min-height:100vh;
    background-position: center;
    background-position: center;
    background: linear-gradient(rgba(96, 163, 177, 0.7),rgba(30, 221, 255, 0.7)), url('../images/mountains.jpg');
    background-position: center;
    background-size: cover;
}

.navbar{
    box-shadow: 0 2px 8px rgb(45, 131, 148) ;
}

.navbar-brand , .nav-link {
    color: rgb(4, 81, 55);
}
.nav-link{
     font-size: 1.2rem;
     font-weight: 500;
     padding-right: 30px;

}
.nav-link.active ,.nav-link:hover{
    color: rgb(239, 248, 245) !important;
    font-weight: bold;
}

#authors img{
    margin-top: -70px;
}
